/* You can add global styles to this file, and also import other style files */

.danger{
    background:#ce3460 !important;
    color: aliceblue !important;
}

.myColor{
    color: #ce3460;
}
#themecolors a{
    cursor: pointer;
}

.megna-theme{
    background: #eeb5c5;
}
.megna-dark-theme{
    background:#8a1d59;
}
.pointer{
    cursor: pointer;
}